*.d
*.o
Makefile
TAGS
tags
cscope.out

/yash
/makesignum
/signum.h
/configm.h
/config.h
/config.log
/config.status

/builtins/builtins.a

/doc/**/*.1
/doc/**/*.html
/doc/**/*.xhtml
/doc/**/*.xml
/doc/**/index.txt
/doc/**/yash.txt

/lineedit/lineedit.a
/lineedit/commands.in

/po/stamp-po
/po/yash.pot
/po/*.mo
/po/*.gmo
/po/en@quot.po
/po/en@quot.ih
/po/en@boldquot.po
/po/en@boldquot.ih

/share/config

/tests/checkfg
/tests/ptwrap
/tests/resetsig
/tests/summary.log
/tests/*.trs
