html, body {
	color: black;
	background: white;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	padding-left: 0.5em;
	border-style: none none solid solid;
	border-bottom-width: 1px;
}
h1 {
	border-color: orange;
	border-left-width: 1em;
}
h2 {
	border-color: navy;
	border-left-width: 0.7em;
}
h3 {
	border-color: green;
	border-left-width: 0.5em;
}
code, kbd, samp {
	border: dotted 1px gray;
	padding: 1px;
	text-decoration: none;
	white-space: pre-wrap;
}
pre code, pre kbd, pre samp {
	white-space: inherit;
}
code {
	background: #efe;
}
kbd {
	background: #ffd;
}
samp {
	background: #eef;
}
var {
	color: maroon;
	background: inherit;
}
